
           *{
               padding: 0px;
               margin: 0px;
           }
           .bg-wall{
               background-image: url(https://wallpaperaccess.com/full/143775.jpg);
           }
           .center{
               display:flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
           }
           .box{
               width: 700px;
               height: 700px;
               background-image: url(http://giphygifs.s3.amazonaws.com/media/10sfPt9aiJoFLG/giphy.gif);
               background-size: 720px 720px;
               background-repeat: no-repeat;
               border-radius: 50%;
               border: 3px solid white;
           }
           .inside-text{
               font-size: 30px;
               color:#39CCCC;
               font-family: 'Yeon Sung', cursive;
               margin-top: 270px;
               margin-right: 100px;
           }
           .menu {
               display: flex;
               justify-content: center;
               background-color: lightgoldenrodyellow;
               height: 50px;
           }
           .menu a {
               margin: 15px;
               text-decoration: none;
               color:black;
               font-family: 'Roboto', sans-serif;
           }
           header{
               width:100%;
           }
           .h1-text{
               font-family: 'Yeon Sung', cursive;
               color:#39CCCC;
           }
           .current{
               color:#2ECC40!important;
           }
