img {
    width: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 2px darkred;
    padding: 30px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    margin: 10px 0;
}

button {
    margin-top: 30px;
    color: green;
    border: none;
    box-shadow: 0 0 10px 2px;
    padding: 10px 20px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    box-shadow: 0 0 5px darkgrey;
    padding: 5px 10px;
}

textarea {
    width: 200px;
    height: 150px;
    resize: none;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 5px darkgrey;
}
select{
    box-shadow: 0 0 5px darkgrey;
    padding: 10px 5px;
}
textarea:focus {
    outline-color: green;
}

.radio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

select:focus {
    outline-color: green;
}

select option:focus {
    background: green;
}

.radio-button {
    box-shadow: none;
}

.form_visual {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    align-items: center;
    max-width: 300px;
    text-align: center;
}

option:checked, option:hover {
    color: white;
    background: #488f8f;
}

img {
    width: 250px;
    height: 250px;
    display: inline-block;
    text-align: center;
    object-position: center;
}