img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 2px darkred;
    padding: 30px;
    width: 300px;
}

.error {
    color: red;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    margin: 10px 0;
}

button {
    margin-top: 30px;
    color: green;
    border: none;
    box-shadow: 0 0 10px 2px;
    padding: 10px 20px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    box-shadow: 0 0 5px darkgrey;
    padding: 5px 10px;
    width: 100%;
}

textarea {
    width: 200px;
    height: 150px;
    resize: none;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 5px darkgrey;
}

select {
    box-shadow: 0 0 5px darkgrey;
    padding: 10px 5px;
    margin-top: 10px;
}

textarea:focus {
    outline-color: green;
}

.radio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

select:focus {
    outline-color: green;
}

select option:focus {
    background: green;
}

.radio-button {
    box-shadow: none;
}

.form_visual {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    align-items: center;
    max-width: 300px;
    text-align: center;
}

option:checked, option:hover {
    color: white;
    background: #488f8f;
}

img {
    width: 250px;
    height: 250px;
    display: inline-block;
    text-align: center;
    object-position: center;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row-reverse;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 4px 1px darkred;
    border-radius: 30px;
    transition: 0.4s;
}
nav a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s;
}

nav a:hover{
    color: green;
}

nav li:hover{
    background-color: darkred;
}
.active{
    color: green;
}
nav li:hover a{
    color: green;
}

.pixels{
    width: 510px;
    height: 510px;
    border: 2px solid black;
    position: relative;
}
.single-pixel{
    height: 10px;
    width: 10px;
    display: inline-block;
    position: absolute;
}

.single-pixel:hover{
    transform: scale(3);
    cursor: pointer;
}